name: qrcode-trace

services:
  app:
    build:
      context: .
      target: prod
    restart: unless-stopped
    container_name: qrcode-trace
    ports:
      - 3001:3000
    # env_file: ./.env.production
    environment:
      - DOTENV_PRIVATE_KEY=${DOTENV_PRIVATE_KEY} # Set in gihub-actions

