name: qrcode-trace

services:
  app:
    build:
      context: .
      target: prod
    restart: on-failure:10
    container_name: qrcode-trace
    ports:
      - 3001:3000
    environment:
      - DOTENV_PRIVATE_KEY_PRODUCTION=${DOTENV_PRIVATE_KEY_PRODUCTION}
